/* Getting rid of HTML defaults */
*{ margin: 0; padding: 0; box-sizing: border-box; }

/* Styling the body of our document  */
body
{
	color: white;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(120deg, #5f57d1, #c065c0);
}

/* STYLYING INPUT ELEMENT AND THE BUTTON */
header
{
	font-size: 2rem;
}

header, .search_container
{
    display: flex;
    min-height: 15vh;
    align-items: center; 
	justify-content: center;   
}

#loggedInDiv
{
    display: grid;
	justify-content: center; 
    margin: auto;
}

#loggedInDiv button
{
    font-size: 1.5rem;
	border-color: blue;
	border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 1.5rem;    
    margin-bottom: 0rem;
}

.search_container input, .search_container button
{
    border-radius: 5px;
    padding: 0.4rem;
    font-size: 2rem;
    background: white;
    border-color: blue;
    border-radius: 0.5rem;
}

.search_container
{
    display: grid;
	justify-content: center; 
    margin: auto;
}

.searchbars input
{
    display: grid;
    margin: auto;
    margin-top: 0.5rem;
    text-align: center;
}

.search_container .add_contact_button
{
    display: grid;
	justify-content: center; 
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

@media only screen and (max-width: 1000px)
{
    .searchbars
    {
        display: grid;
    	justify-content: center; 
        width: 50%;
    }
}

.search_container button
{
    color: #c065c0;
    cursor: pointer;
	padding: 1.55rem;
	margin-left: 1rem;
    background: white;
    transition: all 0.3s ease;
    float: bottom;
}

.search_container button:hover
{
    color: white;
    background: rgb(18, 206, 206);
}

.contact_container
{
    border-radius: 15px;
    background-color: rgb(223, 223, 223);
    display: grid;
    align-items: center; 
	justify-content: center;
    width: 35rem;
    height: 25rem;
    margin: 0 auto;
    color: rgb(53, 53, 53);
    border-radius: 3rem;
    border: 2px solid purple;
}

@media only screen and (max-width: 1000px)
{
    header
    {
        font-size: 1.5rem;
    }

    body
    {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
    .search_container input
    {
        width: 75%;
    }

    .contact_container
    {
        width: 80%;
    }
}

.contact_container h2
{
    text-align: center;
}

.contact_container img
{
    border-radius: 50%;
    width: 7rem;
    margin: auto;
    margin-top: -4.5rem;
}

.contact_container ul
{
    list-style: none;
}

.contact_element
{
    margin-top: -5rem;
    display: grid;
    width: auto;
    text-align: center;
}

.contact_element h3
{
    align-items: left; 
	justify-content: left;
    margin: auto;
}

.contact_element button
{
    align-items: right; 
	justify-content: right;
    margin: auto;
    margin-left: 2rem;
    padding-top: 0.7rem;
}
