/* Getting rid of HTML defaults */
*{ margin: 0; padding: 0; box-sizing: border-box; }

/* Styling the body of our document  */
body
{
    color: white;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background:#d3d3d3;
}

#navbar ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5a5a5a;
    height: 4rem;
    margin-bottom: 1.5rem;
}
  
#navbar li 
{
    margin-top: 1.25rem;
}

#navbar h1
{
    float: left;
}
  
.overlay 
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgba(22, 23, 31, 0.9);
    overflow-x: hidden;
}
  
.overlay-content 
{
    display: grid;
    position: relative;
    top: 30%;
    width: 35rem;
    text-align: center;
    margin: auto;
    border: none;
    border-radius: 2rem;
    padding: 0.4rem;
    background-color: rgb(223, 223, 223);
	box-shadow: 0.25rem 0.25rem 0.5rem #242424, -0.20.55rem -0.25rem 0.5rem #ffffff;
}

.overlay-content #add_first_name
{
    margin-top: 2rem;
}

.overlay-content input, button
{
    font-size: 2rem;
    border: none;
    border-radius: 0.5rem;
    justify-content: center; 
    align-items: center;
    padding: 1rem;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 1rem;
	box-shadow: inset 0.25rem 0.25rem 0.25rem #8b8b8b, inset -1rem -1rem 5rem #ffffff;
}

.overlay-content button
{
    background-color: white;
    border-bottom: none;
    border-radius: 0.5rem;
    box-shadow: 0.15rem 0.15rem 0.15rem rgb(51, 51, 51);
}

.overlay-content button:hover
{
    color: white;
    background-color: rgb(0, 110, 255);
}
  
.overlay a 
{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus 
{
    color: #f1f1f1;
}
  
.overlay .close_overlay 
{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.closebtn
{
    float: right;
}

#navbar h1
{
	font-size: 1.5rem;
    display: inline;
    float: left;
    margin-left: 2rem;
    margin-top: -0.25rem;
}

.openbtn
{
    font-size: 1rem;
	border:none;
	border-radius: 0.25rem;
    padding: 0.5rem;
    margin-top: -2rem;
    margin-right: 1rem;
}

#logoutButton
{
    font-size: 1rem;
	border-radius: 0.5rem;
}

.search_container
{
    display: flex;
    min-height: 15vh;
    align-items: center; 
	justify-content: center;
    width: 35rem;
    border-radius: 1rem;
    background-color: linear-gradient(145deg, #b3b3b3 #e4e4e4);
	box-shadow: 0.25rem 0.25rem 1rem #8b8b8b, -0.25rem -0.25rem 1rem #ffffff;
}

.search_container input, .search_container button
{
    border-radius: 2rem;
    padding: 0.4rem;
    font-size: 2rem;
    background: white;
    border: none;
    border-radius: 0.75rem;
	box-shadow: inset 0.25rem 0.25rem 0.25rem #8b8b8b, inset -2rem -2rem 5rem #ffffff;
}

.search_container
{
    display: grid;
	justify-content: center; 
    margin: auto;
    background: #eeeeee;
    margin-bottom: 2rem;;
}

.searchbars input
{
    display: grid;
    margin: auto;
    margin-top: .5rem;
    margin-right: 2rem;
    width: 20rem;
    height: 3.75rem;
    text-align: left;
    float: left;
    padding-left: 1rem;
    padding-right: -5rem;
}

.search_container .add_contact_button
{
    display: grid;
	justify-content: center; 
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

@media only screen and (max-width: 1000px)
{
    .searchbars
    {
        display: grid;
    	justify-content: center; 
        width: 50%;
    }
}

.search_container button
{
    cursor: pointer;
	padding-left: 1.55rem;
    padding-right: 1.55rem;
	margin-left: 1rem;
    background: white;
    transition: all 0.3s ease;
    float: bottom;
    font-family: 'Poppins', sans-serif;
    background:  #ffffff;
    box-shadow: inset 0.25rem 0.25rem 0.25rem #8b8b8b, inset -0.15rem -0.15rem 0.5rem #ffffff;
}

.search_container button:hover
{
    background: linear-gradient(145deg, #ececec, #ffffff);
    box-shadow: 0.25rem 0.25rem 0.75rem #8b8b8b, -0.15rem -0.15rem 0.5rem #ffffff;
}

.contact_container
{
    display: grid;
    align-items: center; 
    justify-content: center;
    width: 25rem;
    height: 28rem;
    margin: 0 auto;
    color: rgb(53, 53, 53);
    border: none;
    background: #f1f1f1;
    border-radius: 15px;
    box-shadow: 0.25rem 0.25rem 1rem rgb(46, 46, 46), -0.5rem -0.5rem 1.5rem rgb(255, 255, 255);
}

.contact_container .contact_name
{
    margin-bottom: -2rem;
    font-size: 2.5rem;
}

.edit_delete_div
{
    display: inline;
    margin: auto;
    font-size: 0.5rem;
    margin-top: -3.75rem;
    margin-bottom: -2rem;
}

.edit_delete_div #edit_contact_button
{
    font-size: 1.5rem;
    padding: 0.5rem;
    color: rgb(71, 71, 71);
    background-color: #00ffbf;
    border-radius: .5rem;
    border: 2px;
    border-color: black;
    border-bottom: none;
    box-shadow: .25rem .25rem .25rem rgb(46, 46, 46);
}

.edit_delete_div #delete_contact_button
{
    font-size: 1.5rem;
    padding: 0.5rem;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 94, 0);
    margin-left: 2rem;
    border-radius: .5rem;
    border-bottom: none;
    box-shadow: .25rem .25rem .25rem rgb(46, 46, 46);
}

.edit_delete_div #edit_contact_button:hover
{
    background-color: rgb(22, 177, 48);
    color: cornsilk;
}

.edit_delete_div #delete_contact_button:hover
{
    background-color: rgb(187, 30, 19);
    color: cornsilk;
}

@media only screen and (max-width: 1000px)
{
    header
    {
        font-size: 1.5rem;
    }

    body
    {
        overflow-y: auto;
        overflow-x: hidden;
    }
    
    .search_container input
    {
        width: 75%;
    }

    .contact_container
    {
        width: 80%;
    }
}

.contact_container
{
    margin-bottom: 3rem;
}

.contact_container h2
{
    text-align: center;
}

.contact_container img
{
    border-radius: 50%;
    width: 7rem;
    margin: auto;
    margin-top: -2.5rem;
}

.contact_container ul
{
    list-style: none;
}

.contact_element
{
    margin-top: -4rem;
    display: grid;
    width: auto;
}

.contact_element h3
{
    align-items: left; 
	justify-content: left;
    margin: auto;
}

.contact_element button
{
    align-items: right; 
	justify-content: right;
    margin: auto;
    margin-left: 2rem;
    padding-top: 0.7rem;
}

/* Icons sizing */
.material-icons { 
    font-size: 18px; 
    position: relative;
    transform: translateY(15%);
}

.material-icons.md-18 { 
    font-size: 18px; 
    position: relative;
    transform: translateY(20%);
}
.material-icons.md-20 { 
    font-size: 20px;
    position: relative;
    transform: translateY(20%); 
}
.material-icons.md-24 { 
    font-size: 24px; 
    position: relative;
    transform: translateY(20%);
}
.material-icons.md-36 { 
    font-size: 36px; 
    position: relative;
    transform: translateY(20%);
}
.material-icons.md-46 { 
    font-size: 46px; 
    position: relative;
    transform: translateY(20%);
}

.material-icons.md-46 { 
    font-size: 46px; 
    position: relative;
    transform: translateY(-20%);
}
#searchicon {
    transform: translateY(0);
}

#logout {
    transform: translateY(5%);
    font-size: 20px;
    margin: auto;
    position: relative;
}

/* scrollbar width */
::-webkit-scrollbar {
    width: 10px;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

