*{ margin: 0; padding: 0; box-sizing: border-box; }

body 
{
	color: white;
	min-height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
    background:#efefef;
	overflow-y: auto;
}

#title 
{
   	font-size: 4rem;
	font-family: Arial, Helvetica, sans-serif;
   	width: 100%;
	margin-top: 4rem;
   	text-align: center;
   	color: #003b63;
}

.subtitle
{
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	width: 100%;
	margin-top: 1rem;
   	text-align: center;
   	color: #003b63;
}

.inner-title
{
   	display: inline-block;
    font-size: 0.8em;
	width: 90%;
	text-align: center;
	margin-left: 5%;
	margin-bottom: 2%;
	font-family: 'Ubuntu', sans-serif;
	color: #95060a;
}

.loginDiv
{
	display: grid;
    align-items: center; 
	justify-content: center; 
	margin: auto;
	margin-top: 6.5rem;
	font-size: 30px;
	width: 30rem;
	height: 30rem;
	padding: 1rem;
	border-radius: 50px;
	background: #efefef;
	box-shadow: 0.25rem 0.25rem 1rem #8b8b8b, -1rem -1rem 1.5rem #ffffff;
}

.loginDiv p
{
	color: #0099ff;
}

.loginName
{
	font-size: 2rem;
	border: none;
	background-color: rgb(224, 224, 224);
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-top: 2rem;
}

.loginPassword
{
	font-size: 2rem;
	border: none;
	background-color: rgb(224, 224, 224);
	padding-top: 1rem;
	padding-bottom: 1rem;
}

input[type="text"],input[type="password"]
{
	justify-self: center;
	text-align: left;
	width: 80%;
	margin-bottom: 2%;
	font-family: 'Ubuntu', sans-serif;
	padding-left: 1rem;
	border-radius: 1rem;
	box-shadow: inset 0.25rem 0.25rem 0.25rem #8b8b8b, inset -1rem -1rem 5rem #ffffff;
}

hr
{
	display: grid;
	align-items: center; 
	justify-content: center;
	margin: auto;
	margin-bottom: 2rem;
	margin-top: -0.5rem;
	width: 80%;
}

#buttons
{
	display: grid;
}

.loginButton
{
	font-size: 1.5rem;
	color: white;
	background-color: #0099ff;
	;
	border: none;
	border-radius: 1rem;
	padding: 0.5rem;
	width: 50%;
	margin-left: 25%;
	margin-top: -0.5rem;
	margin-bottom: 1rem;
}

.loginButton:hover
{
	color: #FFFFFF;
	opacity: 50%;
}

.signUpButton
{
	font-size: 1.5rem;
	color: white;
	background-color: #0099ff;
	border: none;
	border-radius: 1rem;
	padding: 0.5rem;
	width: 50%;
	margin-left: 25%;
	margin-top: -1.75rem;
	margin-bottom: 0.75rem;
}

.signUpButton:hover
{
	color: #FFFFFF;
	opacity: 50%;
}

.signUp-link
{
	display: grid;
	align-items: center; 
	justify-content: center;
	color: black;
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
}

#divTitle
{
	color: rgb(100, 100, 100);
	font-size: 2.5rem;
	display: grid;
	justify-content: center;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: -2rem;
}

.signUpDiv
{
	display: grid;
    align-items: center; 
	justify-content: center; 
	margin: auto;
	margin-top: 4.5rem;
	font-size: 30px;
	width: 30rem;
	height: 45rem;
	padding: 1rem;
	border-radius: 50px;
	background: #efefef;
	box-shadow: 0.25rem 0.25rem 1rem #8b8b8b, -1rem -1rem 1.5rem #ffffff;
}

#signUpHere
{
	text-decoration: none;
	color: #006eff;
}

#loginHere
{
	text-decoration: none;
	color: #006eff;
}

#user, #pass, #repass, #first, #last
{
	font-size: 1.85rem;
	text-align: left;
	display: grid;
	margin: auto;
	justify-content: center;
	border: none;
	border-radius: 0.3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: rgb(224, 224, 224);
	border-radius: 1rem;
	box-shadow: inset 0.25rem 0.25rem 0.25rem #8b8b8b, inset -2rem -2rem 5rem #ffffff;

}

#first
{
	margin-top: 1rem;
}

#repass
{
	margin-bottom: 0rem;
}

.login-Link
{
	color: black;
	font-size: 1rem;
	display: grid;
	justify-content: center;
	margin-bottom: 0rem;
}

#outp
{
	text-align: center;
	color: azure;
	font-family: Lucida, serif;
	text-shadow: 0px 0px 5px black;
	margin-top: -5%;
}

/* scrollbar width */
::-webkit-scrollbar {
    width: 10px;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
/* scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@media only screen and (max-width: 1200px)
{
	.loginDiv
	{
		width: 70%;
	}
	
	.signUpDiv
	{
		width: 70%;
	}
}

@media only screen and (max-width: 1000px)
{
	.loginDiv
	{
		width: 70%;
		height: 45rem;
		font-size: 5rem;
	}
	
	.loginName
	{
		font-size: 5rem;
	}
	
	.loginPassword
	{
		font-size: 5rem;
	}
	
	.loginButton
	{
		font-size: 5rem;
	}
		
	.signUpDiv
	{
		width: 70%;
	}
	
	#user, #pass, #repass, #first, #last
	{
		font-size: 3rem;
	}
	
}
