/* Getting rid of HTML defaults */
*{ margin: 5px; padding: 5px; box-sizing: border-box; }

body
{
	color: #050831;
	background-image: linear-gradient(120deg, #5f57d1, #c065c0);
}

.signUpDiv
{
	display: grid;
	align-items: center; 
	justify-content: center; 
	background-color: #e0e5e6;
	border-radius: 50px;
	margin: auto;
	margin-top: 5rem;
	width: 400px;
	height: 450px;
	border: 2px solid purple;
}

.signUpForm
{
	display: inline;
	margin-top: -2rem;
	width: 50%;
	font-size: 1.5rem;
}

input[type="text"] 
{
	display: inline;
	float: right;
	padding-left: 0.5rem;
}

input[type="password"] 
{
	display: inline;
	float: right;
	padding-left: 0.5rem;
}

#user, #pass, #repass, #first, #last
{
	font-size: 1.5rem;
	border-color: blue;
	border-radius: 15px;
	display: block;
	padding-bottom: 5px;
	background-color: white;
}

.signUpButton
{
	font-size: 1rem;
	border-color: blue;
	border-radius: 25px;
	padding: 0.25rem;
	width: 50%;
	margin-left: 25%;
	margin-top: 10px;
	margin-bottom: 1rem;
}

.signUpButton:hover
{
	color: white;
	border-color: blue;
	border-radius: 25px;
	background-color: purple;
	opacity: 75%;
}

.signUp-Link
{
	display: grid;
	justify-content: center;
}
